<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/rainyCat.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is awesome.</p>
        <p>{{name}}</p>
        <img class="portrait" src="/img/cuteDog.jpg">
        loves
        <img class="portrait" src="/img/cuteMieze.jpg">
    </div>

    {{>footer}}
</body>

</html>